/* 991px start */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 1.5rem;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}
/* 991px end */

/* start header */
@media (max-width: 768px) {
  .container header #menu {
    display: initial;
  }

  .container header nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    border-radius: 0.5rem;
  }

  .container header nav.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .container header nav ul li {
    display: block;
  }

  .container header nav ul li a {
    font-size: 2.5rem;
    margin: 2rem 0;
    text-align: center;
    display: block;
  }

  .container .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
/* end header */
